{% extends 'html/index.html' %}

{% block header %}
<div id="header">
    <div id="left_header">
        <ul>
            <li @click="set_contents('all', '1')">전체</li>
            <li @click="set_contents('to', '1')">보낸멘션</li>
            <li @click="set_contents('from', '1')">받은멘션</li>
        </ul>
    </div>
    <div id="right_header">
        <ul>
            <li onClick="javascript:location.href='/logout'">로그아웃</li>
        </ul>
    </div>
</div>

<script>
    var ticket = false;
    var firewoodGetter = new Vue({
        el: '#header',
        data: {
            api: 'all',
            cpage: '1',
        },
        created (){
            this.get_contents()
        },
        methods: {
            set_contents (api, cpage){
                this.api = api
                this.cpage = cpage
                this.get_contents()
            },
            get_contents (){
                /* using JSONPlaceholder */
                const baseURI = 'http://127.0.0.1:8000';
                this.$http.get(`${baseURI}/api/${this.api}/cpage/${this.cpage}`)
                .then((result) => {
                    if(result.data.contentList.length === 0){
                        this.cpage -= 1
                        return false
                    }
                    
                    if(this.cpage == 1){
                        firewood.all_contents = []
                    }

                    for(var i in result.data.contentList){
                        firewood.all_contents.push(result.data.contentList[i])
                    }
                    
                    this.$nextTick(function(){
                        if(this.api == 'all' && this.cpage == 1){
                            firewood.last_index = result.data.contentList[0].created_date
                            firewood.get_new_firewood_count()
                        }
                    });
                })
            },
        }
    })

    window.addEventListener('scroll', function(event){
        var s = window.pageYOffset
        var h = window.innerHeight
        var b = document.documentElement.scrollHeight
        
        if(!ticket && Math.floor(s) + h > b - 2){
            ticket = true;
            firewoodGetter.cpage = Number(firewoodGetter.cpage) + 1
            firewoodGetter.get_contents()

            setTimeout(function(){ ticket = false; }, 5000)
        }
    })
</script>
{% endblock %}